/*    
SHIVAM PATEL  (852894) |
--------------------------
*/


@import url("https://use.typekit.net/nmo7kpd.css");
@import url("https://use.typekit.net/nmo7kpd.css");
@import url("https://use.typekit.net/nmo7kpd.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

 :root {
    --surface-color: #fff;
    --curve: 40;
}


/* MAIN PAGE */

.form-control.success input {
    border-color: #2ecc71;
  }

  .form-control.error input {
    border-color: #e74c3c;
  }
  
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 85%;
    margin: auto;
    padding: 0;
    margin-bottom: 5rem;
    list-style-type: none;
}

.heading_contact {
    font-family: "Playfair Display", serif;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 2.1rem;
    text-align: center;
    color: #005587;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(218, 214, 214);
}

.card:hover {
    box-shadow: 0em 0.1rem 0.2em #00558780;
}

.card__image {
    width: 100%;
    height: 16rem;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 3em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.card__title {
    font-size: 1.6em;
    margin: 0 0 .3em;
    color: #005587;
    text-align: left;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: 1em;
    color: #D7BDCA;
}

.card__description {
    padding: 0 1.7em 2em;
    margin: 0;
    font-size: larger;
    font-weight: 500;
    color: #005587;
    text-align: justify;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

main {
    height: fit-content;
    margin-bottom: 5rem;
}


/* CONTACTUS SECTION */

.contactus {
    background-color: white;
    width: 50%;
    height: 95vh;
    margin: auto;
    text-align: center;
}

.contactus h3 {
    font-family: "Playfair Display", serif;
    font-size: 2.5em;
    margin: 0;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 50px;
    width: 100%;
    color: #005587;
}

form {
    background-color: #F1F7F9;
    border-radius: 5px;
}

input[type=text],input[type=email],
textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 1px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #005587;
    color: white;
    padding: 12px 20px;
    margin-bottom: 5vh;
    margin-top: 2vh;
    border: none;
    width: 8vw;
    cursor: pointer;
    border-radius: 20px;
}

input[type=submit]:hover {
    background-color: #00AADE;
}

.col-25 {
    float: left;
    text-align: right;
    width: 20%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
}

.row {
    padding: 5px;
    padding-top: 2vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bannerimg3 {
    padding: 3% 10%;
    width: 100%;
    background-image: url(../Images/banner-contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bannerimg3 h1 {
    background-color: #005587;
    color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
    padding-left: 10px;
    font-weight: 400;
    padding-left: 0.7em;
    border-radius: 2px;
}

@media screen and (min-width:320px) and (max-width:768px) {
    .bannerimg3 {
        height: fit-content;
    }
    .active {
        z-index: 999;
    }
    .nav-menu {
        position: absolute;
    }
    .bannerimg3 h1 {
        width: 12rem;
        font-size: 1.4rem;
        padding: 6px;
    }
    .heading_contact {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 1.5em;
    }
    .contactus {
        width: 90%;
        margin-bottom: 3rem;
        height: 80vh;
    }
    .contactus h3 {
        font-size: 1.5em;
        padding-bottom: 20px;
    }
    input[type=text],
    textarea {
        width: 70%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 1px;
        resize: vertical;
    }
    label {
        padding: 0px 2px 2px 0;
        display: inline-block;
        font-size: small !important;
    }
    input[type=submit] {
        background-color: #005587;
        color: white;
        padding: 11px;
        margin-bottom: 1em;
        margin-top: 0;
        border: none;
        font-size: 10px !important;
        width: 18vw;
        cursor: pointer;
        border-radius: 20px;
    }
    .col-25 {
        float: left;
        text-align: right;
        width: 100%;
        margin-top: 0px;
        text-align: center;
    }
    .col-75 {
        float: left;
        width: 100%;
        margin-top: 6px;
    }
    .card__image {
        height: 15rem;
    }
    .card__thumb {
        width: 4.5rem;
        height: 4.5rem;
    }
    .card__title {
        font-size: 1.2em;
    }
    .card__status {
        font-size: 0.7em;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .bannerimg3 h1 {
        width: 14rem;
        font-size: 1.7rem;
        padding: 13px;
    }
    .heading_contact {
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }
    .contactus {
        width: 80%;
        height: 100%;
        margin-bottom: 2em;
    }
    .contactus h3 {
        font-size: 1.5em;
        padding-bottom: 20px;
    }
    input[type=text],
    textarea {
        width: 70%;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 1px;
        resize: vertical;
    }
    label {
        padding: 0px 12px 12px 0;
        display: inline-block;
        font-size: medium !important;
    }
    input[type=submit] {
        background-color: #005587;
        color: white;
        padding: 10px;
        margin-bottom: 1em;
        margin-top: 0em;
        border: none;
        width: 16vw;
        cursor: pointer;
        border-radius: 20px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .card__image {
        height: 15rem;
    }
    .card__thumb {
        width: 5.2rem;
        height: 5.2rem;
    }
    .card__title {
        font-size: 1.5em;
    }
    .card__status {
        font-size: 0.85em;
    }
}

@media screen and (min-width:1024px) {
    .bannerimg3 h1 {
        width: 16rem;
        font-size: 1.8rem;
        padding: 13px;
    }
    .contactus {
        width: 80%;
        height: 100%;
        margin-bottom: 2em;
    }
    label {
        font-size: large !important;
    }
    input[type=text],
    textarea {
        width: 70%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 1px;
        resize: vertical;
    }
    input[type=submit] {
        font-size: 1rem;
    }
}