/*    
SHIVAM PATEL  (852894) |
--------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}


/* MAIN PAGE */

.active {
    font-weight: 600;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 90%;
    margin: auto;
}

.navbar {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: #004A7A;
    cursor: pointer;
    font-size: 1.1rem;
}

.nav-item a:hover {
    color: #52C7ED;
}

.nav-logo {
    height: 4em;
    margin: 10px 10px;
    width: 14em;
}


/* BANNER IMAGE */

#banner_image {
    background-image: url("../Images/banner-lambton.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.imagename {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    border-radius: 50%;
    padding-left: 8%;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


/* ABOUT PAGE */

.aboutus {
    background-color: white;
    color: black;
    width: 90%;
    margin: auto;
    height: 75vh;
    margin-top: 3vh;
}

.aboutus h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.7em;
    margin: 0;
    text-align: center;
    margin-top: 1.8em;
    margin-bottom: 0.8em;
    width: 100%;
    color: #005587;
}

.about_image {
    float: left;
    width: 100%;
}

.about_image img {
    height: 21em;
    width: 100%;
    margin-top: .5em;
    margin-bottom: 1em;
}

.about_text {
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
}

.about_text p {
    text-justify: inter-word;
    word-spacing: 2px;
    text-align: justify;
}


/* APPLY SECTION */

.apply {
    width: 100%;
    height: 50vh;
    background-image: url('https://www.lambtoncollege.ca/uploadedImages/LambtonCollege/Content/Homepage/Apply_Backgrounds/home-apply-confirm-banner-G.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto 30px auto 0px;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    justify-content: center
}

.btnapply {
    background-color: white;
    color: #005587;
    border-radius: 30px;
    opacity: 95%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
    width: 180px;
    height: 60px;
}

.btnapply:hover {
    background-color: #00B6ED;
    color: white;
}


/* FOOTER SECTION */

#footer {
    color: aliceblue;
    text-align: center;
    background-color: #003b7fb2;
}

.inner-footer {
    padding-top: 1em;
}

.social-items {
    list-style: none;
}

.social-items a {
    padding-right: 10px;
    color: antiquewhite
}

.social-items i {
    font-size: xx-large;
    padding-left: .5em;
    padding-right: .5em;
    color: #00467f;
}

.social-items i:hover {
    font-size: xx-large;
    padding-left: .5em;
    color: wheat;
    padding-right: .5em;
}

.social-links {
    padding-bottom: 2em;
}

.outer-footer {
    color: whitesmoke;
    font-size: medium;
    background-color: #005587;
    text-align: center;
    height: 4em;
    margin-top: 2%;
    padding-top: 2.5em;
}

.footer_last {
    width: 100%;
    display: flex;
    height: 50vh;
    background-image: url(../Images/footer_pattern.jpg);
    background-size: contain;
}

.firstpart {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.secondpart {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third a {
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
}

.donate {
    background: #BEEBFB;
    border-radius: 20px;
    padding: 10px;
    border: none;
    width: 200px;
    margin-top: 30px;
    color: black;
    font-size: 18px;
    font-weight: normal;
}

.donate:hover {
    background-color: #fff;
}

.lasticons {
    display: flex;
    color: white;
    margin-bottom: 30px;
}

.lasticons a {
    margin: 0 10px;
    color: white !important;
}

.lastone {
    background: #005587;
    color: #BEEBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

#topp {
    padding: 0;
    cursor: pointer;
    left: 33rem;
    position: relative;
    font-size: 2.2rem;
    opacity: 0.5;
    bottom: 5rem;
}

#topp:hover {
    opacity: 1;
}

.fa {
    padding: 15px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-facebook:hover {
    background: #fff;
    color: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-twitter:hover {
    background: #fff;
    color: #55ACEE;
}

.fa-instagram {
    background: #ca2f84;
    color: white;
}

.fa-instagram:hover {
    background: #fff;
    color: #ca2f84;
}

.fa-whatsapp {
    background: #05b605;
    color: white;
}

.fa-whatsapp:hover {
    background: #fff;
    color: #05b605;
}


/* QUOTE */

#quote_title h2 {
    color: #005587;
    text-align: center;
}

#quote {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-child:nth-child(1) {
    width: 100%;
    float: left;
    color: #005587;
    text-align: center;
    font-size: 0.7rem;
    margin-top: 3rem;
}

#grid-child:nth-child(2) {
    width: 100%;
    clear: both;
    margin-bottom: 3rem;
}

.grid-child:nth-child(1) h2 {
    font-weight: 100;
}

blockquote {
    font-weight: 100;
    color: #404040;
    font-size: 0.7rem;
    padding-right: 3rem;
    padding-left: 3rem;
    text-indent: -1.7em;
    line-height: 1.2rem;
    padding-top: 10px;
    margin-bottom: 2rem;
    text-align: center;
}

blockquote::before {
    content: open-quote;
    font-size: 1.5rem;
    color: #ADDBF1;
    font-weight: bold;
}

blockquote::after {
    content: close-quote;
    font-size: 1rem;
    color: #ADDBF1;
    font-weight: bold;
}

blockquote {
    quotes: "“""”";
}


/* MEDIA QUERY */

@media screen and (min-width:320px) and (max-width:768px) {
    .nav-logo {
        height: 3.2em;
        width: 11em;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #004A7A;
        color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .nav-item a {
        color: #fff;
        font-size: 1rem;
    }

    .nav-item:hover {
        color: #00ADE5;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #banner_image {
        padding-top: 15%;
        padding-bottom: 15%;
        background-position: 20% 0;
    }

    .imagename {
        padding-right: 8%;
        font-size: 1.2em;
    }

    .secondpart,
    .third {
        display: none;
    }

    .firstpart {
        width: 100%;
        text-align: center !important;
    }

    .footer_last {
        height: 20vh;
        padding-top: 4rem;
        padding-bottom: 4rem;
        font-size: 0.8rem;
    }

    .lastone {
        font-size: 0.8rem;
    }

    .apply {
        height: 9rem;
    }

    .btnapply {
        font-size: 9.5px;
        width: 90px;
        height: 30px;
    }

    #quote {
        width: 95%;
        margin: auto;
    }
}

@media screen and (min-width:426px) and (max-width:768px) {

    .secondpart,
    .third {
        display: none;
    }

    .firstpart {
        width: 100%;
        text-align: center !important;
    }

    .footer_last {
        height: 20vh;
        padding-top: 4rem;
        padding-bottom: 4rem;
        font-size: 0.9rem;
    }

    .lastone {
        font-size: 0.9rem;
    }

    .apply {
        height: 10rem;
    }

    .btnapply {
        font-size: 11px;
        width: 95px;
        height: 35px;
        font-weight: 400;
    }

    .grid-child:nth-child(1) {
        text-align: center;
        width: 100%;
        font-size: 1.1rem;
        margin-top: 4rem;
    }

    .grid-child:nth-child(2) {
        margin-bottom: 3rem;
    }

    blockquote {
        font-size: 0.9rem;
    }

    blockquote::before {
        font-size: 2.2rem;
    }

    blockquote::after {
        font-size: 1.3rem;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .header {
        width: 90%;
        margin: auto;
    }

    .nav-menu {
        margin-right: 2%;
    }

    #banner_image {
        padding-top: 11%;
        padding-bottom: 11%;
        background-position: 30% 0;
    }

    .imagename {
        padding-right: 8%;
        font-size: 1.8em;
    }

    .about_image {
        float: left;
        width: 45%;
    }

    .about_text {
        font-size: 1.1em;
        height: 21em;
        background-color: #003362;
    }

    .nav-logo {
        height: 3.4em;
        width: 12em;
    }

    .nav-item a {
        font-size: 1.2rem;
    }

    .nav-item {
        margin-left: 1rem;
    }

    .footer_last {
        font-size: 0.9rem;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .firstpart {
        width: 25%;
    }

    .footer_last {
        font-size: 1rem;
    }

    .secondpart {
        width: 50%;
    }

    .third {
        width: 25%;
    }

    .third a {
        padding-top: 5px;
    }

    .donate {
        width: 170px;
    }

    .fa {
        padding: 12px;
        font-size: 18px;
        width: 45px;
    }

    .apply {
        height: 15rem;
    }

    .btnapply {
        font-size: 13px;
        width: 7rem;
        height: 2.6rem;
        font-weight: 400;
    }

    #quote {
        width: 80%;
        margin: auto;
        margin-top: 3rem;
        grid-template-columns: 0.7fr 2fr;
    }

    .grid-child:nth-child(1) {
        font-size: 1.2rem;
        text-align: center;
    }

    .grid-child:nth-child(2) {
        margin-top: 2.3rem;
    }

    blockquote {
        font-size: 1.1rem;
        margin-bottom: 5rem;
        line-height: 1.3rem;
    }

    blockquote::before {
        font-size: 2.6rem;
    }

    blockquote::after {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:1025px) {
    .header {
        width: 80%;
        margin: auto;
    }

    .nav-logo {
        height: 4.2em;
        width: 15em;
    }

    .nav-item a {
        font-size: 1.4rem;
    }

    #banner_image {
        padding-top: 9%;
        padding-bottom: 9%;
        background-position: 30% 0;
    }

    .imagename {
        padding-right: 8%;
        font-size: 2em;
    }

    .footer_last {
        font-size: 1.1rem;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .third a {
        padding-top: 5px;
    }

    .donate {
        font-size: 20px;
        padding: 12px;
    }

    .fa {
        padding: 15px;
        font-size: 30px;
        width: 55px;
    }

    #quote {
        width: 80%;
        margin: auto;
        margin-top: 6rem;
        margin-bottom: 6rem;
        grid-template-columns: 0.6fr 2fr;
    }

    .grid-child:nth-child(1) {
        font-size: 1.4rem;
        text-align: center;
    }

    .grid-child:nth-child(2) {
        margin-top: 2.2rem;
    }

    blockquote {
        font-size: 1.3rem;
        line-height: 1.5rem;
        padding-left: 8rem;
    }

    blockquote::before {
        font-size: 2.8rem;
    }

    blockquote::after {
        font-size: 1.8rem;
    }
}